#banner1{
    background-image: url('../../assets//Image/Banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#banner2{
    background-image: url('../../assets//Image/Banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#banner3{
    background-image: url('../../assets//Image/Banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#banner4{
    background-image: url('../../assets//Image/Banner4.png');
    background-repeat: no-repeat;
    background-size: cover;
}