#banner1{
    background-image: url('../../assets//Image/Banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#banner2{
    background-image: url('../../assets//Image/Banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#banner3{
    background-image: url('../../assets//Image/Banner3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#banner4{
    background-image: url('../../assets//Image/Banner4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
    #banner1 {
        background-position: -400px 0;
    }
    #banner2 {
        background-position: -450px 0;
    }
    #banner3 {
        background-position: -900px 0;
    }
    #banner4 {
        background-position: -550px 0;
    }
}